[submodule "lib/shellfire/core"]
	path = lib/shellfire/core
	url = https://github.com/shellfire-dev/core.git
[submodule "etc/shellfire/paths.d"]
	path = etc/shellfire/paths.d
	url = https://github.com/shellfire-dev/paths.d.git
[submodule "lib/shellfire/unicode"]
	path = lib/shellfire/unicode
	url = https://github.com/shellfire-dev/unicode
[submodule "lib/shellfire/urlencode"]
	path = lib/shellfire/urlencode
	url = https://github.com/shellfire-dev/urlencode
[submodule "lib/shellfire/version"]
	path = lib/shellfire/version
	url = https://github.com/shellfire-dev/version
[submodule "lib/shellfire/xmlwriter"]
	path = lib/shellfire/xmlwriter
	url = https://github.com/shellfire-dev/xmlwriter
[submodule "lib/shellfire/configure"]
	path = lib/shellfire/configure
	url = https://github.com/shellfire-dev/configure
[submodule "lib/shellfire/curl"]
	path = lib/shellfire/curl
	url = https://github.com/shellfire-dev/curl
[submodule "lib/shellfire/jsonreader"]
	path = lib/shellfire/jsonreader
	url = https://github.com/shellfire-dev/jsonreader
[submodule "lib/shellfire/jsonwriter"]
	path = lib/shellfire/jsonwriter
	url = https://github.com/shellfire-dev/jsonwriter
[submodule "lib/shellfire/github"]
	path = lib/shellfire/github
	url = https://github.com/shellfire-dev/github
