Format: http://www.debian.org/doc/packaging-manuals/copyright-format/1.0/
Upstream-Name: $_swaddle_build_swaddleName
Upstream-Contact: $(swaddle_configure_maintainer)
Source: $(configure_getValue swaddle url)
Disclaimer: XXXXX
Comment: XXXX
Copyright: XXXX
License: $(configure_getValue swaddle licence)
 FORMATED_TEXT_SPACE_INDENTED_WITH_DOTS

Files: *
Copyright: XXXX
License: $(configure_getValue swaddle licence)
 FORMATED_TEXT_SPACE_INDENTED_WITH_DOTS
