ar
ast
bg
bs
ca
cs
da
de
el
en
en_AU
en_CA
en_GB
en_US
en_ZA
eo
es
eu
fa
fi
fr
fr_FR
gl
hr
hu
id
is
it
ja
ka
km
ko
lt
ms
my
no
no_NB
nb
nl
oc
pl
pt
pt_BR
ro
ru
si
sk
sl
sq
sr
sv
th
tr
uk
vi
zh_CN
zh_HK
zh_TW
